footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  left: 0px;
  right: 0px;
}

body {
  overflow-x: hidden;
}

.text {
  transform: translateY(5vmin);
  display: block;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  width: 20vw;
  color: #3e5480;
}

a {
  color: #34838d;
}

.separator {
  display: block;
  font-family: 'Heebo', sans-serif;
  margin-left: auto;
  margin-right: auto;
  height: 0.23vmax;
  border-radius: 1vh;
  width: 20vw;
  background-color: #3e5480;
}

.mini-heading {
  font-family: 'Poppins', sans-serif;
  color: #324467;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 6.6em;
}

.heading {
  font-family: 'Poppins', sans-serif;
  color: #324467;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 9.9em;
}
